// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";
// 2. Include any default variable overrides here
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
// 4. Include any default map overrides here
// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
//@import "bootstrap/scss/root";
// 6. Optionally include any other parts as needed
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/transitions";
// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

.block-accordion {
  @include make-container();

  &-row {
    @include make-row();
  }

  &-title {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    @extend .mb-4;
  }

  h3 {
    font-size: 35px;
    line-height: 40px;
    @include media-breakpoint-up('lg'){
      font-size: 50px;
      line-height: 65px;
    }
  }
  .subtitle {
    font-size: 1.125em;
  }

  .accordion {
    @include make-col-ready();
    @extend .d-grid;
    @extend .gap-3;

    @include media-breakpoint-up('lg'){
      @include make-col(12);

      &.with-label {
        @include make-col(8);
      }
    }
  }

  .accordion-item {
    border: none;

    .card-header {
      border-radius: var(--wsBorderRadius, unset);
      border: 2px solid var(--wsSecondaryColor, black);
      background: var(--ylb-color-white);
      &.active, &:hover {
        background: var(--wsPrimaryColor, var(--gray-400));
        border-color: transparent;

        .accordion-button {
          color: var(--white);

          .chevron.chevron-down {
            background: white;
          }
        }
      }

      .accordion-header {
        @extend .mb-0;
        @extend .d-grid;
      }

      .accordion-button {
        @extend .btn;
        @extend .btn-link;
        @extend .text-start;

        color: #2F2F2F;
        text-transform: initial;
        font-size: 18px;
        font-weight: bold;
        font-family: var(--ylb-font-family-verdana);
        position: relative;
        padding-right: 2em;
        background-color: unset;
        box-shadow: unset;
        border: none;

        &:focus {
          box-shadow: none;
          border: unset;
        }
      }
    }
    .card-body {
      @extend .px-3;
      @extend .py-4;
      color: var(--gray-600);
      .field-body {
        overflow: hidden;
      }
    }
  }
  .chevron {
    width: 12px;
    height: 8px;
    position: absolute;
    top: 16px;
    right: 0.5em;
    transform: rotate(180deg);

    &.chevron-up {
      mask: url("../svg/chevron-up.svg");
      background: white;
    }
    &.chevron-down {
      mask: url("../svg/chevron-down.svg");
      background: black;
    }
  }
  .accordion-button.btn {
    i.chevron {
      display: none;
      float: right;
    }
    &[aria-expanded="false"] {
      i.chevron-down {
        display: inline;
      }
    }
    &[aria-expanded="true"] {
      i.chevron-up {
        display: inline;
      }
    }
  }
}
